*{
    margin:0%;
    padding:0%;
}

.slogo{
    width:25%;
    float:left;
}
.searchicon{
    width:5%;
}

.fa-regular{
    width:20%; 
}

.input-group{
    width:30%;
    padding-left:2%;
    float:left;
    margin-top:2%;
}
.bi{
    font-size: 23px;
    color:blueviolet;
    padding:2%;
  }
.rounded {
    border-radius: 2.25rem!important;
}

.btn{
    margin-top:2%;
    background-color:blueviolet;
    color:white;
    border-radius:50px;
    margin-left: 2%;
    font-weight: bold;
}

.navbar{
    width:100%;
    margin-top:1%;
}
.nav-item{
    margin-left:20%;
    font-weight:bold;
}
.carousel-inner{
    height: 75vh;
}
.w-100 {
    width: 100% !important;
    height: 75vh;
  }